.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-navigation-toggle-icon {
  color: var(--color-primary);
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
 
.navigation-navigation-toggle-menu {
  opacity: 1;
  position: absolute;
  transform: rotate(0deg) scale(1);
  transition: all var(--animation-duration-standard)
      var(--animation-curve-primary);
}
 
.navigation-navigation-toggle-close {
  opacity: 0;
  position: absolute;
  transform: rotate(180deg) scale(0);
  transition: all var(--animation-duration-standard)
      var(--animation-curve-primary);
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
